<div class="container">
  <app-header></app-header>
  <app-create></app-create>
  <main>
    <div
      *ngIf="newTasks$ | async as newTasks"
      id="new"
      cdkDropList
      [cdkDropListData]="newTasks"
      [cdkDropListConnectedTo]="['inProgress', 'done']"
      (cdkDropListDropped)="drop($event)"
    >
      <p>New Task</p>
      <app-task
        cdkDrag
        *ngFor="let task of newTasks; trackBy: trackByFunction"
        [task]="task"
      ></app-task>
    </div>
    <div
      *ngIf="inProgressTasks$ | async as inProgressTasks"
      cdkDropList
      [cdkDropListData]="inProgressTasks"
      [cdkDropListConnectedTo]="['new', 'done']"
      (cdkDropListDropped)="drop($event)"
      id="inProgress"
    >
      <p>In Progress</p>
      <app-task
        cdkDrag
        *ngFor="let task of inProgressTasks; trackBy: trackByFunction"
        [task]="task"
      ></app-task>
    </div>
    <div
      *ngIf="doneTasks$ | async as doneTasks"
      cdkDropList
      [cdkDropListData]="doneTasks"
      [cdkDropListConnectedTo]="['inProgress', 'new']"
      (cdkDropListDropped)="drop($event)"
      id="done"
    >
      <p>Done</p>
      <app-task
        cdkDrag
        *ngFor="let task of doneTasks; trackBy: trackByFunction"
        [task]="task"
      ></app-task>
    </div>
  </main>
</div>
