<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ task.title }}</mat-card-title>
    <mat-card-subtitle>{{ task.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ task.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      [disabled]="isLoading$ | async"
      (click)="onRearrangeTask(task, 'new')"
    >
      New
    </button>
    <button
      [disabled]="isLoading$ | async"
      (click)="onRearrangeTask(task, 'inProgress')"
    >
      Progress
    </button>
    <button
      [disabled]="isLoading$ | async"
      (click)="onRearrangeTask(task, 'done')"
    >
      Done
    </button>
    <button
      [disabled]="isLoading$ | async"
      type="button"
      (click)="onDelete(task.id, task.status)"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>
